<% content_for(:title_tag) do %>
  <%= @restaurant.name %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="restaurant">
        <div class="restaurant-content">
          <h2><%= @restaurant.name %></h2>
          <%= render 'shared/stars', rating: @restaurant.average_rating%>
          (<%= @restaurant.reviews.size %> avis)
          <p><%= @restaurant.address %></p>
          <p><%= @restaurant.phone_number %></p>
          <p><%= @restaurant.category.capitalize %></p>
        </div>

        <%#= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary btn-lg" %>

      </div>
      <div class="reviews">

        <div class="review-form">
          <%= render 'reviews/form' %>
        </div>
        <% @restaurant.reviews.each do |review| %>

          <div class="review">
            <div class="review-content"><%= review.content %></div>
            <%= render 'shared/stars', rating: review.rating %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
