<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="restaurant">
        <h2><%= @restaurant.name %></h2>
        <address><%= @restaurant.address %></address>
        <p><%= @restaurant.phone_number %></p>
        <p><%= @restaurant.category.capitalize %></p>
      </div>
      <div class="reviews">
        <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary btn-lg" %>
        <% @restaurant.reviews.each do |review| %>
          <div class="review">
            <p><%= review.content %></p>
            <p><%= review.rating %></p>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
